# Use C++17 everywhere by default.
build --cxxopt=-std=c++17 --host_cxxopt=-std=c++17

# Use only clang to have fewer surprises on different systems.
build --action_env=CC=clang
build --action_env=CXX=clang++

# Enable the 'layering_check', i.e., make sure C++ includes only use registered
# dependencies.
build --features=layering_check

# Enable the disk cache to speed up builds.
build --disk_cache=~/.cache/bazel-disk-cache

# rules_zig intermediate output persistence.
common --enable_platform_specific_config
build:linux --sandbox_add_mount_pair=/tmp
build:macos --sandbox_add_mount_pair=/var/tmp
build:windows --sandbox_add_mount_pair=C:\Temp
