{erl_opts, [debug_info]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.

{deps, [
  {getopt, "~> 1.0.2"}
]}.

{escript_main_app, aero}.
{escript_wrappers_windows, ["cmd", "powershell"]}.
{escript_emu_args, "%%! +sbtu +A0 -escript main aero_cli\n"}.

{profiles, [
  {prod, [
    {erl_opts, [no_debug_info, warnings_as_errors]}
  ]}
]}.

{alias, [
  {build, [compile, escriptize]},
  {check, [xref, dialyzer]},
  {test, [eunit, cover]}
]}.
